:root {
    --main-color: #ac1d55;

    /* background color */
    --bg-color-c1: #F9F9F9;


    /* #FCF7EF */
    --sec-color: #FFC9D8;
    --color-c1:  #E8E8E8;
    --color-c2:  #D33672;
    --color-c3:  hsl(0, 0%, 71%);
    --color-c4:  #FFC9D8;

    /* button color */
    --btn-bg-c1: #009688;
    --btn-bg-c2: #FFC9D8;
    --btn-txt-c1: #fff;
    --btn-br-c1: #FFC9D8;


    /* text color */
    --txt-c1: #333333;
}

html {
    scroll-padding: 92px;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar-thumb {
 background: var(--main-color) !important;
}

p {
    color: var(--txt-c1) !important;
}

/* Language switch */
.gozagel-languages {
    position: relative;
}

.gozagel-switch {
    margin-right: 23px;
    height: 36px;
    width: 72px;
    /* background-color: var(--btn-bg-c1) !important; */
    /* padding: 14px 40px !important; */
    color: #ac1d55 !important;
    /* text-transform: uppercase !important; */
    /* letter-spacing: 2px !important; */
    cursor: pointer !important;
    border-radius: 10px !important;
    /* border: 2px dashed #00BFA6 !important; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    transition: .4s !important;
    border: 1px solid;
    border-color: var(--main-color) !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    /* border: none !important; */
}
.theme-popup {
  /* total */
  --total_text_color: #e0e0e0;
  --total_font_family: Menlo, Roboto Mono, monospace;
  /* button */
  --btn_bg: #ac1d55;
  --btn_padding: 0.5em;
  --btn_height: 2em;
  --btn_border_radius: 0.3125em;
  --btn_outline_width: 0.0625em;
  --btn_outline_color: #A0A0A0;
  --btn_outline_offset: 0.0625em;
  --btn_gap: 0.3125em;
  /* list */
  --list_padding: 0.5em;
  --list_bg: var(--btn_bg);
  --list_border_radius: var(--btn_border_radius);
  --list_gap: 0.1875em;
  --list_btn_hover_bg: #c22963;
  --list_btn_active: #b9b9b970;
  --list_btn_border_radius: 0.25em;
  --list_btn_padding: 0.35em 1em;
  --list_btn_gap: 0.3375em;
  --list_btn_outline_width: 0.0625em;
  --list_btn_outline_color: rgb(212, 210, 210);
  --list_offset: 0.35em;
  --list_btn_font_size: 14px;
  --list_position_left: unset;
  --list_position_right: 21px;
  /* 👆 if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
}

.theme-popup__button .theme-popup__icons svg,
#light,
#dark, 
#default, 
#checkbox,
.theme-popup__list-container {
  display: none;
}

.theme-popup {
  color: var(--total_text_color);
  font-family: var(--total_font_family);
  position: relative;
  user-select: none;
}

.theme-popup__list-container {
  position: absolute;
  left: var(--list_position_left);
  right: var(--list_position_right);
  top: calc(var(--btn_height) + var(--list_offset));
}

.theme-popup__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.theme-popup__button {
  line-height: var(--btn_height);
  background-color: var(--btn_bg);
  padding: 0 var(--btn_padding);
  display: inline-flex;
  align-items: center;
  column-gap: var(--btn_gap);
  border-radius: var(--btn_border_radius);
  border: none;
  color: inherit;
  font-family: inherit;
  outline: none;
  font-weight: bold;
}

.theme-popup__list {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  /* padding: 0 var(--list_padding); */
  border-radius: var(--list_border_radius);
  background-color: #fff;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  row-gap: 1.2px;
  width: 74px;

  & li a {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;

    & label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: var(--list_btn_gap);
        border-radius: 0;
        white-space: nowrap;
        cursor: pointer;
        padding: 0 4px;
    }
  }
}


.theme-popup__list label span {
  font-size: var(--list_btn_font_size);
}

/* actions */
#checkbox:checked~.theme-popup__button {
  outline: var(--btn_outline_width) solid var(--btn_outline_color);
  outline-offset: var(--btn_outline_offset);
}

#checkbox:checked~.theme-popup__list-container {
  display: block;
}

.theme-popup__list label:hover,
.theme-popup__list label.active,
.theme-popup__button:hover,
#checkbox:checked~.theme-popup__button {
  background-color: var(--list_btn_hover_bg);
  color: #fff;
}


/* main button */
.gozagel-btn-one {
    /* background-color: var(--btn-bg-c1) !important; */
    background: linear-gradient(to right, #ac1d55, #a31c56) !important;
    /* padding: 14px 40px !important; */
    color: var(--btn-txt-c1) !important;
    /* text-transform: uppercase !important; */
    /* letter-spacing: 2px !important; */
    cursor: pointer !important;
    border-radius: 10px !important;
    /* border: 2px dashed #00BFA6 !important; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    transition: .4s !important;
    /* border-color: var(--btn-br-c1) !important; */
    border: none !important;
}

.gozagel-btn-one:hover {
    background: linear-gradient(to left, #ac1d55, #a31c56) !important;
}

.gozagel-btn-two {
    /* background-color: var(--btn-bg-c1) !important; */
    background: #fff;
    /* padding: 14px 40px !important; */
    color: var(--main-color) !important;
    /* text-transform: uppercase !important; */
    /* letter-spacing: 2px !important; */
    cursor: pointer !important;
    border-radius: 10px !important;
    /* border: 2px dashed #00BFA6 !important; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    transition: .4s !important;
    border-color: var(--main-color) !important;
    box-sizing: border-box;
    /* border: none !important; */
}

.gozagel-btn-two:hover {
    background: linear-gradient(to right, #ac1d55, #a31c56) !important;
    color: #fff !important;
}

.gozagel-nav-link:hover a {
    color: var(--main-color) !important;
}

/* Pricing */
.gozagel-pricing-plans-container {
    align-items: start !important;
}
.gozagel-pricing-list {
    padding-left: 0 !important;
    padding-bottom: 35px !important;
}
.gozagel-pricing-list > li {
    font-size: medium !important;
}
.gozagel-pricing-list > li.disable {
    color: #B9B9B9 !important;
}
.gozagel-pricing-list > li.disable::before {
    content: url(../images/icon/64.svg) !important;
    position: absolute !important;
    top: 5px !important;
    left: -8px !important;
}

.pricing-table-area-four .pr-table-wrapper:before {
    border: 2px solid var(--main-color) !important;
}

/* Homepage - Hero section */
.gozagel-hero-section .hero-heading {
    font-size: 66px !important;
}
@media (max-width: 575px) {
    .gozagel-hero-section .hero-heading {
        font-size: 44px !important;
    }
    .gozagel-hero-section .cta {
        flex-direction: column;
    } 
}
@media (max-width: 380px) {
    .gozagel-hero-section .cta {
        flex-direction: column;
    } 
}


/* Mega Sign Up */
.gozagel-mega {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
.gozagel-mega h2 {
    font-size: 56px !important;
}
@media (max-width: 575px) {
    .gozagel-mega h2 {
        font-size: 44px !important;
    }
}
@media (max-width: 380px) {
    .gozagel-mega h2 {
        font-size: 31px !important;
    }
}

/* Advantages */
.gozagel-advantages-block {
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.04) !important;
}
@media (max-width: 575px) {
    .gozagel-advantages-block .title {
        font-size: 22px !important;
    }
}
@media (max-width: 380px) {
    .gozagel-advantages-block .title {
        font-size: 18px !important;
    }
}



/* 
    Integrations | Separate Page
*/


/* T&C separte page */

/* Prohibited Items for International Shipping */
.gozagel-non-compensation-card {
    min-height: 309px;
}

.gozagel-non-compensation-card h3 {
    padding-top: 0 !important;
}

/* Prohibited Items Page */
.drags > li.disable::before {
    content: url(../images/icon/64.svg) !important;
    position: absolute !important;
    right: 0px !important;
    color: inherit !important;
}
@media (max-width: 575px) {
    .gozagel-prohibited-list > h2 {
        font-size: 44px;
    } 
}
@media (max-width: 380px) {
    .gozagel-prohibited-list > h2 {
        font-size: 23px;
    } 
}



/* Features */

/* Packaging */
.gozagel-block-image {
    display: flex;
    justify-content: end;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.gozagel-block-image > img {
    max-height: 350px;
}

/* Privacy Policy */
